

html{
  background-image: url("../images/bkg.jpg");
  margin: 0 auto;
  min-width: 630px;
  width: 80%;
}

body{
  font-family: 'Varela Round', Helvetica, Arial, sans-serif;
  margin: 0 auto;
  background-color: whitesmoke;
  font-size: 1rem;
  width: 70%;
  height: auto;
}

a.card-content{
  background-color: rgb(99, 99, 99);
  margin: 10px;
}

p.mb-1{
  color: whitesmoke;
  font-weight: bold;
}

h3.mb-1{
  font-size: 2vw;  
}

small{
  color: whitesmoke;
  font-style: italic;
}

.welcome_user{
  text-align: center;
  font-family: 'Gaegu', cursive;
  font-size: 2rem;
  margin: 0;
}

.alert{
  margin: 0;
}

/* X from the Alerts.. */
.alert-dismissible .close{
  text-align: center;
  margin: auto;
}

.inlamning_title, .saved_journal{
  text-align: center;
  font-size: 3vw;
}

.inlamning_title{
  background-color: #8FBC8F;
  background-repeat: no-repeat;
  height: auto;
  background-size: 100% 100%;
  color: white;
}

.inlamning_title h1, h3{
  color: white;
  font-family: 'Gaegu', cursive;
  text-shadow: 2px 2px 5px rgb(77, 75, 75);
}

.inlamning_title h1.journal_title{
  font-size: 2em;
}


.signin_form, .register_form, .jornal_form {    
  margin: 20px auto;
  width: 50%;
}

.signin_btn, .register_btn{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 10px auto;
}


.visible{
  visibility: visible;
}

.hidden{
  visibility: hidden;
}

button, input[type='submit']{
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 1rem;
  cursor: pointer;
}

input{
  margin-top: 10px;
}


@media (min-width: 768px) and (max-width: 1450px){

  .inlamning_title{
      background-size: contain auto;
      color: white;
  }

  .inlamning_title h1, h3{
      font-size: 1em;
  }

  .inlamning_title h1.journal_title{
      font-size: 2em;
  }

  h3.mb-1{
    font-size: 2vw;
  }

}


@media (min-width: 360px) and (max-width: 768px){


  .inlamning_title{
      background-size: contain auto;
      color: white;
  }

  .inlamning_title h1, h3{
      font-size: 1em;
  }

  .inlamning_title h1.journal_title{
      font-size: 2em;
  }

  .saved_articles{
      font-size: 5vw;
  }

  h3.mb-1{
    font-size: 4vw;
  }

}